<!DOCTYPE html>
<html lang="en">

<head>
    <title>COVID-19 LIVE TRACKER</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/red-circle.png" type="image/png" sizes="32x32">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <h1 class="text-center">🔴 LIVE</h1>
        <h2 class="text-center">COVID-19 LIVE TRACKER</h2>
        <div class="row">
            <div class="card-columns">
                <div class="card bg-primary">
                    <div class="card-body text-center">
                        <p class="card__name"><span>OUR</span> COUNTRY</p>
                        <p class="card__total card__small">INDIA</p>
                    </div>
                </div>
                <div class="card bg-warning">
                    <div class="card-body text-center">
                        <p class="card__name"><span>TOTAL</span> RECOVERD</p>
                        <p class="card__total card__small">
                            <%= covidSummary.recovered %>
                        </p>
                    </div>
                </div>
                <div class="card bg-success">
                    <div class="card-body text-center">
                        <p class="card__name"><span>TOTAL</span> CONFIRMED</p>
                        <p class="card__total card__small">
                            <%= covidSummary.confirmed %>
                        </p>
                    </div>
                </div>
                <div class="card bg-danger">
                    <div class="card-body text-center">
                        <p class="card__name"><span>TOTAL</span> DEATHS</p>
                        <p class="card__total card__small">
                            <%= covidSummary.deaths %>
                        </p>
                    </div>
                </div>
                <div class="card bg-secondary">
                    <div class="card-body text-center">
                        <p class="card__name"><span>TOTAL</span> ACTIVE</p>
                        <p class="card__total card__small">
                            <%= covidSummary.active %>
                        </p>
                    </div>
                </div>
                <div class="card bg-info">
                    <div class="card-body text-center">
                        <p class="card__name"><span>LAST</span> UPDATED</p>
                        <p class="card__total card__small">
                            <%= covidSummary.lastupdatedtime %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="text-center">State Wise Data COVID-19 Report</h2>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-borderless table-dark">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" class="w-25">State</th>
                            <th scope="col">Confirmed</th>
                            <th scope="col">Active</th>
                            <th scope="col">Recovered</th>
                            <th scope="col">Death</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% i=1; %>
                            <% covidReport.forEach(CR=> { %>
                                <tr>
                                    <td class="">
                                        <%= i++ %>
                                    </td>
                                    <td class="text-success">
                                        <%= CR.State %>
                                    </td>
                                    <td class="text-success">
                                        <%= CR.Confirmed %>
                                    </td>
                                    <td class="text-success">
                                        <%= CR.Active %>
                                    </td>
                                    <td class="text-success">
                                        <%= CR.Recovered %>
                                    </td>
                                    <td class="text-success">
                                        <%= CR.Death %>
                                    </td>
                                </tr>
                                <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>